  <ion-view >
    <ion-nav-title>Bill Payment</ion-nav-title>
  <ion-content class="padding">
       
      <form name="banking_form" novalidate ng-submit="PerformTrans()">
    
          <div class="list">
              
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <input type="text" name="bankdesc"  ng-model="data.desc"  required>
                  </label>

                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Ammount</span>
                    <input type="number" name="bankammount" ng-model="data.amount">
                  </label>

                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <br>
                      <select ng-model="data.TranSelect"
                        ng-options="opt as opt.label for opt in options" ng-change="change()">
                    </select>
                  </label>
              

                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Receiver</span>
                    <input type="text" name="bankreceiver" ng-model="data.receiver"  ng-readonly="true">
                  </label>
              <button class="button button-block button-calm" type="submit" >Proceed</button>  
              
            </div>
          
      </form>
  </ion-content>
</ion-view>