  <ion-view >
    <ion-nav-title>{{data.SpecificType}}</ion-nav-title>
  <ion-content class="padding">
       
      <form name="banking_form" novalidate ng-submit="PerformTrans()">
    
          <div class="list">
              
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <input type="text" name="bankdesc"  ng-model="data.desc"  required>
                  </label>

                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Ammount</span>
                    <input type="number" name="bankammount" ng-model="data.amount">
                  </label>

                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" ng-model="data.Trantype"  ng-readonly="true" >
                  </label>

                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Receiver</span>
                    <input type="text" name="bankreceiver" ng-model="data.receiver">
                  </label>
              <button class="button button-block button-calm" type="submit" >Proceed</button>  
              
            </div>
          
      </form>
  </ion-content>
</ion-view>