<ion-view view-title="Account">
  <ion-content class="padding">
    <div class="list card">
        <div class="item item-divider item-dark"><b>Savings Account</b></div>
          <div  class="item">
            <b>Account Type</b><br>
               PREMIUM
          </div>

          <div  class="item">
            <b>Account Number</b><br>
                100001
          </div>

          <div  class="item">
            <b>Account Balance</b><br>
                RM 9999999.00
          </div>

          <div  class="item">
          <b>Account Status</b><br>
                ACTIVE
          </div>

    </div>  
    <div class="list card">
        <div class="item item-divider item-dark"><b>Personal Information</b></div>
          <div  class="item">
            <b>Holder Name</b><br>
               Ahmad Zulhilman bin Zakaria
          </div>

          <div  class="item">
            <b>Contact Number</b><br>
                012-2901141
          </div>

    </div> 

      
  </ion-content>
</ion-view>
