<ion-view view-title="Banking">
  <ion-content class="padding">
      <div class="list card">
              <div class="item  item-divider item-dark">
                <b>TRANSFER</b>
              </div>

      <a href="#/tab/banking/Local" class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        <b>Local Transfer</b><br>
        Make one-off transfer to any<br>
        Zulox Banking Account
      </a>

      <a href="#/tab/banking/Interbank" class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
         <b>InterBank Transfer</b><br>
            make an transfer to 3rd-Party<br>
            Non-Zulox Banking Account
      </a>
    </div>
      
    <div class="list card">
              <div class="item  item-divider item-dark">
                <b>PAY BILL</b>
              </div>

      <a href="#/tab/banking/Bill" class="item item-icon-right">
        <i class="icon ion-chevron-right"></i>
        <b>Bill Payment</b><br>
        Pay your bill's online<br>
        Zulox Banking App
      </a>

    </div>



  </ion-content>
</ion-view>
