<ion-view view-title="Transaction">
  <ion-content >

            
            <center><h4>Past Transaction <br>(90 Days)</h4></center>
          
        <div class="list">

          <a class="item item-icon-right" href="#/tab/transaction/Transfer">            
            TRANSFER
            <i class="icon ion-android-arrow-dropright-circle"></i>
          </a>

          <a class="item item-icon-right" href="#/tab/transaction/Credited">
            CREDITED
            <i class="icon ion-android-arrow-dropright-circle"></i>
          </a>
          <a class="item item-icon-right" href="#/tab/transaction/Bill">
            BILL PAYMENT
            <i class="icon ion-android-arrow-dropright-circle"></i>
          </a>
      </div>
      

  </ion-content>
</ion-view>
