
<ion-view >
    <ion-nav-title>{{trans.titleType}}
  </ion-nav-title>
  <ion-content >

            
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="searchText" type="text" placeholder="Search">
          </label>
        </div>
          
         <div class="list card">
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="saction in trans | filter:searchText"  type="item-text-wrap" ui-sref="tab.transaction.transaction-child.child-detail({ tranDetail: {{saction.TranID}} })">            
                <i class="icon ion-chevron-right"></i>
                <b>{{saction.TranDesc}}</b>
                <h4>{{saction.TranType}}</h4>
                <h4><strong>RM : </strong>{{saction.TranTotal}} | <strong> Receiver :</strong> {{saction.TranReceiver}}</strong></h4>
                <h4>{{saction.TranDate}}</h4>        
             </ion-item>             
        </div>


  </ion-content>
</ion-view>


