
<ion-view view-title="ID : {{details.TranID}}">
  <ion-content >

            
        <div class="list card">

      <div class="item item-divider ">
        <h2><b>{{details.TranType}}</b></h2>
        <p>{{details.TranDate}}</p>
      </div>

      <div class="item item-body">
        <p>
            <strong>
        {{details.TranDesc}}
            </strong>
        </p>
          <br>         

     </div>     
            <div  class="item">
                <b> Account Number </b>
                <br>
                <b>Sender &nbsp&nbsp&nbsp:</b> {{details.TranSender}}
                <br>
                 <b>Receiver :</b>  {{details.TranReceiver}}
            </div>
            <div  class="item">
                <b>Account ID :</b> {{details.TranACC}}    
            </div>

            <div  class="item">
                <b>RM :</b> {{details.TranTotal}}             
            </div>
            <div  class="item">
            <b>Status : </b> {{details.TranStatus}}
            </div> 
      


</div>


  </ion-content>
</ion-view>